@charset "UTF-8";
body {
background-color:White;
 }
.navbar-custom {
 background-color: #C4C4C4;
 }
 .navbar-custom .navbar-brand,
 .navbar-custom .navbar-text {
 color: white;
 }
 .container-fluid{
 background-color:transparent;
 width:100%;
 float:right;
 }
 .navbar-nav{
  background-color:transparent;
  float:right;
  width:100%;
 }
 #navcard{
 float:right;
 background-color:transparent;
 height:40px;
 border:0px;
 width:100%;
 }
 #bodycard{
 float:left;
 background-color:transparent;
 height:40px;
 border:0px;
 width:100%;
 }
 .row{
 float:right;
 background-color:transparent;
 width:100%;

 }
 #row2{
 background-color:transparent;
 width:100%;
 }
 #logo{
 height: 50px;
 margin-left:20px;
 }
 #signUp{
 height:40px;
 width:100px;
 font-Size:medium;
 font-weight: bold;
 color:White;
 background-color: #FF9E2D;
 border-radius: 3px;
 border: 0px;
 font-family:Verdana, sans-serif;
 }
 #login{
 height:40px;
 width:100px;
 font-Size:medium;
 font-weight: bold;
 color:black;
 background-color:transparent;
 border-radius: 0px;
 border: 0px;
 font-family:Verdana, sans-serif;
 border-left: 1px solid black;
 
 }
 #about{
 height:40px;
 width:100px;
 font-Size:medium;
 font-weight: normal;
 color:black;
 background-color:transparent;
 border-radius: 3px;
 border: 0px;
 font-family:Verdana, sans-serif;
 }
 #startUps{
 height:40px;
 width:100px;
 font-Size:medium;
 font-weight: normal;
 color:black;
 background-color:transparent;
 border-radius: 3px;
 border: 0px;
 font-family:Verdana, sans-serif;
 }
  #investors{
 height:40px;
 width:100px;
 font-Size:medium;
 font-weight: normal;
 color:black;
 background-color:transparent;
 border-radius: 3px;
 border: 0px;
 font-family:Verdana, sans-serif;
 margin-left:15px;
 }