@charset "UTF-8";
#startpicture {
  width: 70%;
  height: 100%;
  margin-left: 90px;
  border-color: transparent;
  border-radius: 0px;
}
#motto {
  font-weight: bold;
  color: black;
  margin-left: 40px;
  margin-top: 70px;
  font-size: 50px;
  margin-top: 25px;
}
#mottodesc {
  color: black;
  margin-left: 40px;
  font-size: 25px;
}
#getStarted {
  height: 50px;
  width: 300px;
  font-size: 30px;
  font-weight: bold;
  color: White;
  background-color: #ff9e2d;
  border-radius: 25px;
  border: 0px;
  font-family: Verdana, sans-serif;
  margin-left: 120px;
  margin-top: 10px;
}
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}
#mottoCard {
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
}
.img {
  border-radius: 0px;
  border: none;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.startupsNav {
  align-items: center;
}

h2 {
  align-items: center;
}
